################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lessons/FileContentIndex/62d6b8ca-9c0f-40ad-8c4b-cc226de8a5b8.vsidx
