################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Lessons/FileContentIndex/62d6b8ca-9c0f-40ad-8c4b-cc226de8a5b8.vsidx
/.vs/Lessons/FileContentIndex/70111f79-bb4b-40d6-a225-5150f1fd682a.vsidx
/.vs/Lessons/FileContentIndex/afe71305-b791-4e71-82c9-5911eade6177.vsidx
